@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --default-color-one: #a0906b;
  --default-color-two: #bda778;
  --fsz-for-h2: calc(30px + 14 * (100vw / 1912));
}

body {
  background-color: #f1ebdc;
  font-family: "Raleway", serif;
  font-weight: 200;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  min-height: 101px;
  z-index: 1000 !important;
  background-color: var(--default-color-one);
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 87%;
  height: 100%;
}
header .header-content .header-logotypy {
  width: 100px;
  height: auto;
  display: block;
}
header .header-content a {
  color: white;
  font-weight: 600;
  font-size: calc(26px + 0.5230125523vh);
  display: block;
}
header .header-content .content_social-media-list {
  width: 12%;
  max-width: 220px;
  min-width: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-content .content_social-media-list .list-logo {
  width: 24%;
  height: 100%;
}
header .header-content .content_menu-burger {
  display: none;
  width: 12%;
  min-width: 50px;
  height: auto;
  cursor: pointer;
}
header .header-content .content_menu-burger span {
  margin-bottom: 11px;
  background-color: white;
  height: 3px;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .content_menu-burger.open-menu span {
  position: relative;
}
header .header-content .content_menu-burger.open-menu span:nth-child(1) {
  rotate: 44deg;
  top: 17px;
}
header .header-content .content_menu-burger.open-menu span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
header .header-content .content_menu-burger.open-menu span:nth-child(3) {
  rotate: -44deg;
  bottom: 11px;
}
header .header-content .content_content-open-menu-burger {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #796a47;
  width: 100%;
  padding: 70px 0;
  text-align: center;
  margin: 0 auto;
  z-index: 100 !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .content_content-open-menu-burger.show {
  opacity: 1;
  visibility: visible;
}
header .header-content .content_content-open-menu-burger a {
  color: white;
  font-weight: 600;
  font-size: calc(26px + 0.5230125523vh);
  display: block;
  margin-bottom: 30px;
}
header .header-content .content_content-open-menu-burger .content_social-media-list {
  width: 12%;
  max-width: 220px;
  min-width: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
header .header-content .content_content-open-menu-burger .content_social-media-list .list-logo {
  width: 24%;
  height: 100%;
}

main {
  min-height: 100vh;
}
main .main_present-block {
  width: 100%;
  height: 80vh;
  min-height: 620px;
  position: relative;
  top: 0;
  left: 0;
}
main .main_present-block .decoration-block {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
}
main .main_present-block .block_present-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
main .main_present-block .block_text-part {
  position: absolute;
  top: 25%;
  left: 5%;
  color: white;
  width: 50%;
  max-width: 1423px;
  max-height: 324px;
  z-index: 100;
}
main .main_present-block .block_text-part h1 {
  font-size: calc(40px + 1.2552301255vw);
  margin-bottom: 28px;
}
main .main_present-block .block_text-part h1 span {
  font-weight: 700;
}
main .main_present-block .block_text-part p {
  font-size: calc(28px + 0.6276150628vw);
  line-height: 50px;
  margin-bottom: 50px;
}
main .main_present-block .block_text-part p span {
  font-weight: 600;
}
main .main_present-block .block_text-part .text-part_navigate-to-menu {
  position: relative;
  width: 37%;
  max-width: 350px;
  height: 70px;
  background-color: #bda778;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .main_present-block .block_text-part .text-part_navigate-to-menu p {
  color: black;
  font-size: calc(20px + 0.2092050209vw);
  position: relative;
  top: 24px;
  z-index: 10;
}
main .main_present-block .block_text-part .text-part_navigate-to-menu span {
  position: absolute;
  top: 0;
  left: -3px;
  width: 0;
  height: 100%;
  background-color: black;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
main .main_present-block .block_text-part .text-part_navigate-to-menu:hover {
  cursor: pointer;
}
main .main_present-block .block_text-part .text-part_navigate-to-menu:hover p {
  color: var(--default-color-two);
}
main .main_present-block .block_text-part .text-part_navigate-to-menu:hover span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
main .main_present-block .block_switching-slides {
  position: absolute;
  top: 56%;
  right: 3%;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #bda778;
  z-index: 100;
}
main .main_present-block .block_switching-slides img {
  width: 35px;
  height: 35px;
}
main .main_present-block.two-slide .block_text-part {
  width: 60%;
  position: absolute;
  top: 25%;
  left: 14%;
}
main .main_present-block.two-slide .block_switching-slides {
  left: 3%;
}
main .main_about-products {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 674px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .main_about-products .about-products_text-part {
  margin-left: 10px;
  width: 60%;
}
main .main_about-products .about-products_text-part h2 {
  font-size: var(--fsz-for-h2);
  font-weight: 600;
  margin-bottom: 28px;
}
main .main_about-products .about-products_text-part p {
  width: 80%;
  font-size: calc(22px + 0.3138075314vw);
  line-height: 34px;
}
main .main_about-products .about-products_decoration-part {
  position: relative;
  top: 0;
  left: 0;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: end !important;
}
main .main_about-products .about-products_decoration-part .decoration-part_decoration-img {
  width: 650px;
  height: 80%;
  position: relative;
  top: 95px;
  left: 0;
}
main .main_about-products .about-products_decoration-part .decoration-part_block-imgs-for-animation .decoration-part_img-for-animation {
  opacity: 0;
  position: absolute;
}
main .main_about-products .about-products_decoration-part .decoration-part_block-imgs-for-animation .decoration-part_img-for-animation.show {
  opacity: 1;
}
main .main_about-products .about-products_decoration-part .decoration-part_block-imgs-for-animation .decoration-part_img-for-animation.show:nth-child(1) {
  position: absolute;
  top: 80px;
  width: 82px;
  left: 56%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .main_about-products .about-products_decoration-part .decoration-part_block-imgs-for-animation .decoration-part_img-for-animation.show:nth-child(2) {
  position: absolute;
  top: 75px;
  left: 66%;
  width: 56px;
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
}
main .main_about-products .about-products_decoration-part .decoration-part_block-imgs-for-animation .decoration-part_img-for-animation.show:nth-child(3) {
  position: absolute;
  top: 0;
  left: 63%;
  width: 75px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-transition: all 0.5s 1s;
  transition: all 0.5s 1s;
}
main .main_our-menu {
  background-color: #f1dbad;
  width: 100%;
  height: auto;
  padding: 70px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
}
main .main_our-menu .our-menu_decoration-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}
main .main_our-menu .our-menu_decoration-block img {
  width: 90px;
  height: auto;
}
main .main_our-menu .our-menu_decoration-block img:nth-child(odd) {
  position: relative;
  top: -7px;
  left: 0;
}
main .main_our-menu .our-menu_decoration-block img:nth-child(even) {
  position: relative;
  top: 10px;
  left: 0;
}
main .main_our-menu .our-menu_text-part {
  text-align: center;
  color: var(--default-color-one);
}
main .main_our-menu .our-menu_text-part h2 {
  font-size: var(--fsz-for-h2);
  font-weight: 600;
  margin-bottom: 20px;
}
main .main_our-menu .our-menu_text-part p {
  font-size: calc(22px + 0.3138075314vw);
}
main .main_our-menu .our-menu_products-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 50px auto 80px auto;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
main .main_our-menu .our-menu_products-list.show {
  opacity: 1;
}
main .main_our-menu .our-menu_products-list.show .products-list_product {
  top: 0;
  left: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
main .main_our-menu .our-menu_products-list.show .products-list_product:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
main .main_our-menu .our-menu_products-list.show .products-list_product:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
main .main_our-menu .our-menu_products-list.show .products-list_product:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
main .main_our-menu .our-menu_products-list .products-list_product {
  height: 100%;
  width: 25%;
  max-width: 300px;
  min-width: 300px;
  max-height: 494px;
  min-height: 494px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -180px;
  left: 0;
}
main .main_our-menu .our-menu_products-list .products-list_product.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
main .main_our-menu .our-menu_products-list .products-list_product img {
  width: 90%;
  height: 360px;
  display: inline-block;
  -webkit-filter: drop-shadow(-4px 6px 4px var(--default-color-one));
          filter: drop-shadow(-4px 6px 4px var(--default-color-one));
}
main .main_our-menu .our-menu_products-list .products-list_product .product_text-part {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}
main .main_our-menu .our-menu_products-list .products-list_product .product_text-part h3 {
  color: var(--default-color-one);
  font-size: calc(20px + 0.2092050209vw);
  font-weight: 600;
}
main .main_our-menu .our-menu_products-list .products-list_product .product_text-part p {
  font-size: calc(18px + 0.1046025105vw);
  font-weight: 400;
}
main .main_our-menu .our-menu_products-list .products-list_product .product_go-to-menu {
  width: 90%;
  height: 50px;
  background-color: var(--default-color-two);
  font-size: 16px;
  border: none;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .main_our-menu .our-menu_products-list .products-list_product .product_go-to-menu p {
  font-size: 16px;
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: black;
}
main .main_our-menu .our-menu_products-list .products-list_product .product_go-to-menu span {
  position: absolute;
  top: 0;
  left: -3px;
  width: 0;
  height: 100%;
  background-color: black;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
main .main_our-menu .our-menu_products-list .products-list_product .product_go-to-menu:hover {
  cursor: pointer;
}
main .main_our-menu .our-menu_products-list .products-list_product .product_go-to-menu:hover p {
  color: var(--default-color-two);
}
main .main_our-menu .our-menu_products-list .products-list_product .product_go-to-menu:hover span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
main .main_our-menu .our-menu_products-list .prev_btn,
main .main_our-menu .our-menu_products-list .next_btn {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #bda778;
}
main .main_our-menu .our-menu_products-list .prev_btn img,
main .main_our-menu .our-menu_products-list .next_btn img {
  width: 35px;
  height: 35px;
}
main .main_our-menu .our-menu_products-list .prev_btn.disabled,
main .main_our-menu .our-menu_products-list .next_btn.disabled {
  background-color: #998c70;
}
main .main_our_advantages {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}
main .main_our_advantages .our_advantages_decoration-block {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
main .main_our_advantages .our_advantages_decoration-block .question-png {
  position: relative;
}
main .main_our_advantages .our_advantages_decoration-block .question-png:nth-child(1) {
  width: 12%;
  height: auto;
  rotate: -50deg;
}
main .main_our_advantages .our_advantages_decoration-block .question-png:nth-child(3) {
  width: 16%;
  height: 100%;
}
main .main_our_advantages .our_advantages_decoration-block .phg-cat-for-advantages {
  width: 40%;
  height: 100%;
}
main .main_our_advantages h2 {
  font-size: var(--fsz-for-h2);
  font-weight: 600;
  color: var(--default-color-one);
}
main .main_our_advantages .our_advantages_list-of-reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
  width: 90%;
  height: auto;
  margin: 90px auto;
}
main .main_our_advantages .our_advantages_list-of-reasons .list-of-reasons_elem {
  width: 22%;
  text-align: center;
  margin: 0 auto;
}
main .main_our_advantages .our_advantages_list-of-reasons .list-of-reasons_elem .icon_reasons {
  width: 50%;
  min-width: 100px;
}
main .main_our_advantages .our_advantages_list-of-reasons .list-of-reasons_elem h3 {
  font-size: calc(22px + 0.3138075314vw);
  font-weight: 600;
  margin-bottom: 15px;
}
main .main_our_advantages .our_advantages_list-of-reasons .list-of-reasons_elem p {
  font-size: calc(20px + 0.2092050209vw);
  line-height: 30px;
}

footer {
  width: 100%;
  height: auto;
  background-color: #a0906b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 90px;
  gap: 90px;
}
footer .logo {
  width: 150px;
  height: auto;
}
footer .footer-text_content {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 40px;
}
footer .footer-text_content .content_links-navigation a {
  font-weight: 600;
  color: white;
  font-size: calc(21px + 0.2615062762vw);
}
footer .footer-text_content .content_our-data p {
  font-size: calc(19px + 0.1569037657vw);
  font-weight: 500;
  margin-bottom: 17px;
}

@media (max-width: 1250px) {
  main .main_about-products .about-products_text-part {
    margin: 40px 0 !important;
    width: 50%;
  }
  main .main_about-products .about-products_text-part p {
    width: 100%;
  }
  main .main_our_advantages .our_advantages_decoration-block {
    width: 55%;
  }
  main .main_our_advantages .our_advantages_decoration-block .phg-cat-for-advantages {
    width: 60%;
  }
  main .main_our_advantages .our_advantages_list-of-reasons {
    width: 100%;
    margin: 30px auto;
  }
  main .main_our_advantages .our_advantages_list-of-reasons .list-of-reasons_elem {
    width: 35%;
  }
}
@media (max-width: 1131px) {
  main .main_present-block .text-part_navigate-to-menu,
  main .main_present-block.two-slide .text-part_navigate-to-menu {
    min-width: 218px;
  }
}
@media (max-width: 1062px) {
  main .main_about-products .about-products_text-part {
    margin: 40px 0 !important;
    width: 50%;
  }
  main .main_about-products .about-products_decoration-part {
    width: 50%;
  }
  main .main_about-products .about-products_decoration-part .decoration-part_decoration-img {
    width: 550px;
  }
  main .main_about-products .about-products_decoration-part .decoration-part_block-imgs-for-animation {
    left: 100%;
  }
  main .main_about-products .about-products_decoration-part .decoration-part_block-imgs-for-animation .decoration-part_img-for-animation:nth-child(2) {
    left: 74% !important;
  }
}
@media (max-width: 1000px) {
  header .header-content a {
    font-size: calc(22px + 0.3138075314vw);
  }
  main .main_present-block .block_text-part,
  main .main_present-block.two-slide .block_text-part {
    top: 20%;
    width: 70%;
  }
}
@media (max-width: 950px) {
  main .main_about-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main_about-products .about-products_text-part {
    width: 90%;
  }
  main .main_about-products .about-products_text-part p {
    font-size: calc(20px + 0.2092050209vw);
    width: 100%;
  }
  main .main_about-products .about-products_decoration-part {
    display: none;
    opacity: 0;
    visibility: 0;
  }
}
@media (max-width: 870px) {
  main .main_present-block .decoration-block {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 792px) {
  main .main_our_advantages .our_advantages_list-of-reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    gap: 60px;
    margin: 30px 0;
  }
  main .main_our_advantages .our_advantages_list-of-reasons .list-of-reasons_elem {
    width: 90%;
    margin: 0;
  }
  main .main_our_advantages .our_advantages_list-of-reasons .list-of-reasons_elem .icon_reasons {
    width: 30%;
  }
}
@media (max-width: 730px) {
  footer {
    padding: 60px 20px;
  }
}
@media (max-width: 716px) {
  main .main_present-block .block_text-part,
  main .main_present-block.two-slide .block_text-part {
    width: 90%;
    left: 5%;
  }
  main .main_present-block .block_switching-slides,
  main .main_present-block.two-slide .block_switching-slides {
    top: 86%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main_present-block .block_switching-slides img,
  main .main_present-block.two-slide .block_switching-slides img {
    rotate: 90deg;
    position: relative;
  }
}
@media (max-width: 690px) {
  header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-content .header-logotypy {
    width: 80px;
  }
  header .header-content a {
    display: none;
  }
  header .header-content .content_social-media-list {
    display: none;
  }
  header .header-content .content_menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 670px) {
  main .main_our-menu {
    padding: 60px 0 20px 0;
  }
}
@media (max-width: 611px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  footer .footer-text_content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 600px) {
  main .main_our-menu .our-menu_products-list {
    gap: 0;
  }
}
@media (max-width: 521px) {
  main .main_present-block,
  main .main_present-block.two-slide {
    height: 70vh;
  }
  main .main_present-block .block_text-part,
  main .main_present-block.two-slide .block_text-part {
    width: 95%;
  }
  main .main_present-block .block_text-part h1,
  main .main_present-block.two-slide .block_text-part h1 {
    font-size: calc(32px + 0.8368200837vw);
    margin-bottom: 37px;
  }
  main .main_present-block .block_text-part p,
  main .main_present-block.two-slide .block_text-part p {
    line-height: 32px;
  }
}
@media (max-width: 470px) {
  main .main_our-menu .our-menu_products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin: 25px;
  }
  main .main_our-menu .our-menu_products-list .block_for_swipeBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 437px) {
  main .main_about-products {
    min-height: 400px;
  }
  main .main_about-products .about-products_text-part p:nth-child(2) {
    opacity: 0;
    visibility: hidden;
    display: none;
    margin: 0;
  }
}
@media (max-width: 400px) {
  main .main_present-block .block_text-part,
  main .main_present-block.two-slide .block_text-part {
    left: 12px;
    text-align: center;
  }
  main .main_present-block .block_text-part .text-part_navigate-to-menu,
  main .main_present-block.two-slide .block_text-part .text-part_navigate-to-menu {
    margin: 0 auto;
    left: 0;
  }
  main .main_present-block .block_switching-slides,
  main .main_present-block.two-slide .block_switching-slides {
    left: 43%;
    top: 80%;
  }
}
@media (max-width: 333px) {
  main .main_present-block,
  main .main_present-block.two-slide {
    min-height: 200px !important;
  }
  main .main_present-block .block_text-part,
  main .main_present-block.two-slide .block_text-part {
    top: 17%;
    width: 99%;
    left: 4px;
  }
  main .main_present-block .block_text-part h1,
  main .main_present-block.two-slide .block_text-part h1 {
    font-size: calc(27px + 0.5753138075vw);
  }
  main .main_present-block .block_text-part .text-part_navigate-to-menu,
  main .main_present-block.two-slide .block_text-part .text-part_navigate-to-menu {
    height: 50px;
  }
  main .main_present-block .block_text-part .text-part_navigate-to-menu p,
  main .main_present-block.two-slide .block_text-part .text-part_navigate-to-menu p {
    font-size: calc(19px + 0.1569037657vw);
  }
  main .main_present-block .block_switching-slides,
  main .main_present-block.two-slide .block_switching-slides {
    top: 85%;
  }
}