@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --default-color-one: #a0906b;
  --default-color-two: #bda778;
  --fsz-for-h2: calc(30px + 14 * (100vw / 1912));
}

body {
  background-color: #f1ebdc;
  font-family: "Raleway", serif;
  font-weight: 200;
  overflow-x: hidden;
}

@mixin animate_for_btn() {
  &:hover {
    cursor: pointer;
    p {
      color: var(--default-color-two);
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  min-height: 101px;
  z-index: 1000 !important;
  background-color: var(--default-color-one);
  .header-content {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 87%;
    height: 100%;
    .header-logotypy {
      width: 100px;
      height: auto;
      display: block;
    }

    a {
      color: white;
      font-weight: 600;
      font-size: calc(26px + 10 * (100vh / 1912));
      display: block;
    }

    .content_social-media-list {
      width: 12%;
      max-width: 220px;
      min-width: 147px;
      display: flex;
      justify-content: space-between;
      .list-logo {
        width: 24%;
        height: 100%;
      }
    }

    .content_menu-burger {
      display: none;
      width: 12%;
      min-width: 50px;
      height: auto;
      cursor: pointer;

      span {
        margin-bottom: 11px;
        background-color: white;
        height: 3px;
        width: 100%;
        transition: all 0.4s;
      }

      &.open-menu {
        span {
          position: relative;
          &:nth-child(1) {
            rotate: 44deg;
            top: 17px;
          }
          &:nth-child(2) {
            opacity: 0;
            visibility: hidden;
          }
          &:nth-child(3) {
            rotate: -44deg;
            bottom: 11px;
          }
        }
      }
    }

    .content_content-open-menu-burger {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #796a47;
      width: 100%;
      padding: 70px 0;
      text-align: center;
      margin: 0 auto;
      z-index: 100 !important;
      transition: all 0.4s;

      &.show {
        opacity: 1;
        visibility: visible;
      }

      a {
        color: white;
        font-weight: 600;
        font-size: calc(26px + 10 * (100vh / 1912));
        display: block;
        margin-bottom: 30px;
      }

      .content_social-media-list {
        width: 12%;
        max-width: 220px;
        min-width: 147px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .list-logo {
          width: 24%;
          height: 100%;
        }
      }
    }
  }
}

main {
  min-height: 100vh;
  .main_present-block {
    width: 100%;
    height: 80vh;
    min-height: 620px;
    position: relative;
    top: 0;
    left: 0;
    .decoration-block {
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.2);
      z-index: 20;
    }
    .block_present-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .block_text-part {
      position: absolute;
      top: 25%;
      left: 5%;
      color: white;
      width: 50%;
      max-width: 1423px;
      max-height: 324px;
      z-index: 100;
      h1 {
        font-size: calc(40px + 24 * (100vw / 1912));
        margin-bottom: 28px;
        span {
          font-weight: 700;
        }
      }
      p {
        font-size: calc(28px + 12 * (100vw / 1912));
        line-height: 50px;
        margin-bottom: 50px;
        span {
          font-weight: 600;
        }
      }
      .text-part_navigate-to-menu {
        position: relative;
        width: 37%;
        max-width: 350px;
        height: 70px;
        background-color: #bda778;
        overflow: hidden;
        transition: all 0.6s;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          color: black;
          font-size: calc(20px + 4 * (100vw / 1912));
          position: relative;
          top: 24px;
          z-index: 10;
        }

        span {
          position: absolute;
          top: 0;
          left: -3px;
          width: 0;
          height: 100%;
          background-color: black;
          transition: all 0.4s ease-in-out;
          z-index: 1;
        }

        @include animate_for_btn;
      }
    }
    .block_switching-slides {
      position: absolute;
      top: 56%;
      right: 3%;
      border: none;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background-color: #bda778;
      z-index: 100;
      img {
        width: 35px;
        height: 35px;
      }
    }
    &.two-slide {
      .block_text-part {
        width: 60%;
        position: absolute;
        top: 25%;
        left: 14%;
      }
      .block_switching-slides {
        left: 3%;
      }
    }
  }

  .main_about-products {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 674px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .about-products_text-part {
      margin-left: 10px;
      width: 60%;
      h2 {
        font-size: var(--fsz-for-h2);
        font-weight: 600;
        margin-bottom: 28px;
      }
      p {
        width: 80%;
        font-size: calc(22px + 6 * (100vw / 1912));
        line-height: 34px;
      }
    }
    .about-products_decoration-part {
      position: relative;
      top: 0;
      left: 0;
      width: 55%;
      display: flex;
      align-items: end !important;
      .decoration-part_decoration-img {
        width: 650px;
        height: 80%;
        position: relative;
        top: 95px;
        left: 0;
      }

      .decoration-part_block-imgs-for-animation {
        .decoration-part_img-for-animation {
          opacity: 0;
          position: absolute;
          &.show {
            opacity: 1;
            &:nth-child(1) {
              position: absolute;
              top: 80px;
              width: 82px;
              left: 56%;
              transform: rotate(20deg);
              transition: all 0.5s;
            }

            &:nth-child(2) {
              position: absolute;
              top: 75px;
              left: 66%;
              width: 56px;
              transform: rotate(75deg);
              transition: all 0.5s 0.5s;
            }

            &:nth-child(3) {
              position: absolute;
              top: 0;
              left: 63%;
              width: 75px;
              transform: rotate(60deg);
              transition: all 0.5s 1s;
            }
          }
        }
      }
    }
  }

  .main_our-menu {
    background-color: #f1dbad;
    width: 100%;
    height: auto;
    padding: 70px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;

    .our-menu_decoration-block {
      display: flex;
      position: relative;
      top: 0;
      left: 0;

      img {
        width: 90px;
        height: auto;
        &:nth-child(odd) {
          position: relative;
          top: -7px;
          left: 0;
        }

        &:nth-child(even) {
          position: relative;
          top: 10px;
          left: 0;
        }
      }
    }

    .our-menu_text-part {
      text-align: center;
      color: var(--default-color-one);
      h2 {
        font-size: var(--fsz-for-h2);
        font-weight: 600;
        margin-bottom: 20px;
      }
      p {
        font-size: calc(22px + 6 * (100vw / 1912));
      }
    }

    .our-menu_products-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      align-items: center;
      align-content: center;
      margin: 50px auto 80px auto;
      opacity: 0;
      transition: all 0.6s;

      &.show {
        opacity: 1;

        .products-list_product {
          top: 0;
          left: 0;
          transition: all 0.7s;

          &:nth-child(2) {
            transition-delay: 0.1s;
          }
          &:nth-child(3) {
            transition-delay: 0.3s;
          }
          &:nth-child(4) {
            transition-delay: 0.5s;
          }
        }
      }

      .products-list_product {
        height: 100%;
        width: 25%;
        max-width: 300px;
        min-width: 300px;
        max-height: 494px;
        min-height: 494px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -180px;
        left: 0;

        &.hidden {
          display: none;
          opacity: 0;
          visibility: hidden;
        }

        img {
          width: 90%;
          height: 360px;
          display: inline-block;
          filter: drop-shadow(-4px 6px 4px var(--default-color-one));
        }

        .product_text-part {
          width: 100%;
          text-align: center;
          margin: 20px auto;
          h3 {
            color: var(--default-color-one);
            font-size: calc(20px + 4 * (100vw / 1912));
            font-weight: 600;
          }
          p {
            font-size: calc(18px + 2 * (100vw / 1912));
            font-weight: 400;
          }
        }

        .product_go-to-menu {
          width: 90%;
          height: 50px;
          background-color: var(--default-color-two);
          font-size: 16px;
          border: none;
          position: relative;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-size: 16px;
            z-index: 2;
            position: relative;
            top: 0;
            left: 0;
            transition: all 0.4s ease-in-out;
            color: black;
          }

          span {
            position: absolute;
            top: 0;
            left: -3px;
            width: 0;
            height: 100%;
            background-color: black;
            z-index: 1;
            transition: all 0.4s ease-in-out;
          }
          @include animate_for_btn;
        }
      }

      .prev_btn,
      .next_btn {
        border: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background-color: #bda778;
        img {
          width: 35px;
          height: 35px;
        }
        &.disabled {
          background-color: #998c70;
        }
      }
    }
  }

  .main_our_advantages {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;

    .our_advantages_decoration-block {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      .question-png {
        position: relative;
        &:nth-child(1) {
          width: 12%;
          height: auto;
          rotate: -50deg;
        }
        &:nth-child(3) {
          width: 16%;
          height: 100%;
        }
      }

      .phg-cat-for-advantages {
        width: 40%;
        height: 100%;
      }
    }

    h2 {
      font-size: var(--fsz-for-h2);
      font-weight: 600;
      color: var(--default-color-one);
    }

    .our_advantages_list-of-reasons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: start;
      gap: 20px;
      width: 90%;
      height: auto;
      margin: 90px auto;
      .list-of-reasons_elem {
        width: 22%;
        text-align: center;
        margin: 0 auto;
        .icon_reasons {
          width: 50%;
          min-width: 100px;
        }
        h3 {
          font-size: calc(22px + 6 * (100vw / 1912));
          font-weight: 600;
          margin-bottom: 15px;
        }
        p {
          font-size: calc(20px + 4 * (100vw / 1912));
          line-height: 30px;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: auto;
  background-color: #a0906b;
  display: flex;
  align-items: start;
  padding: 90px;
  gap: 90px;

  .logo {
    width: 150px;
    height: auto;
  }

  .footer-text_content {
    color: white;
    display: flex;
    align-items: start;
    gap: 40px;

    .content_links-navigation {
      a {
        font-weight: 600;
        color: white;
        font-size: calc(21px + 5 * (100vw / 1912));
      }
    }

    .content_our-data {
      p {
        font-size: calc(19px + 3 * (100vw / 1912));
        font-weight: 500;
        margin-bottom: 17px;
      }
    }
  }
}

@media (max-width: 1250px) {
  main {
    .main_about-products {
      .about-products_text-part {
        margin: 40px 0 !important;
        width: 50%;
        p {
          width: 100%;
        }
      }
    }

    .main_our_advantages {
      .our_advantages_decoration-block {
        width: 55%;
        .phg-cat-for-advantages {
          width: 60%;
        }
      }

      .our_advantages_list-of-reasons {
        width: 100%;
        margin: 30px auto;
        .list-of-reasons_elem {
          width: 35%;
        }
      }
    }
  }
}

@media (max-width: 1131px) {
  main {
    .main_present-block,
    .main_present-block.two-slide {
      .text-part_navigate-to-menu {
        min-width: 218px;
      }
    }
  }
}

@media (max-width: 1062px) {
  main {
    .main_about-products {
      .about-products_text-part {
        margin: 40px 0 !important;
        width: 50%;
      }

      .about-products_decoration-part {
        width: 50%;
        .decoration-part_decoration-img {
          width: 550px;
        }
        .decoration-part_block-imgs-for-animation {
          left: 100%;

          .decoration-part_img-for-animation {
            &:nth-child(2) {
              left: 74% !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    .header-content {
      a {
        font-size: calc(22px + 6 * (100vw / 1912));
      }
    }
  }
  main {
    .main_present-block,
    .main_present-block.two-slide {
      .block_text-part {
        top: 20%;
        width: 70%;
      }
    }
  }
}

@media (max-width: 950px) {
  main {
    .main_about-products {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .about-products_text-part {
        width: 90%;
        p {
          font-size: calc(20px + 4 * (100vw / 1912));
          width: 100%;
        }
      }
      .about-products_decoration-part {
        display: none;
        opacity: 0;
        visibility: 0;
      }
    }
  }
}

@media (max-width: 870px) {
  main {
    .main_present-block {
      .decoration-block {
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }
  }
}

@media (max-width: 792px) {
  main {
    .main_our_advantages {
      .our_advantages_list-of-reasons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        gap: 60px;
        margin: 30px 0;

        .list-of-reasons_elem {
          width: 90%;
          margin: 0;
          .icon_reasons {
            width: 30%;
          }
        }
      }
    }
  }
}

@media (max-width: 730px) {
  footer {
    padding: 60px 20px;
  }
}

@media (max-width: 716px) {
  main {
    .main_present-block,
    .main_present-block.two-slide {
      .block_text-part {
        width: 90%;
        left: 5%;
      }
      .block_switching-slides {
        top: 86%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          rotate: 90deg;
          position: relative;
        }
      }
    }
  }
}

@media (max-width: 690px) {
  header {
    .header-content {
      display: flex;
      align-items: center;

      .header-logotypy {
        width: 80px;
      }

      a {
        display: none;
      }

      .content_social-media-list {
        display: none;
      }

      .content_menu-burger {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 670px) {
  main {
    .main_our-menu {
      padding: 60px 0 20px 0;
    }
  }
}

@media (max-width: 611px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .footer-text_content {
      text-align: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {
  main {
    .main_our-menu {
      .our-menu_products-list {
        gap: 0;
      }
    }
  }
}

@media (max-width: 521px) {
  main {
    .main_present-block,
    .main_present-block.two-slide {
      height: 70vh;
      .block_text-part {
        width: 95%;
        h1 {
          font-size: calc(32px + 16 * (100vw / 1912));
          margin-bottom: 37px;
        }
        p {
          line-height: 32px;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  main {
    .main_our-menu {
      .our-menu_products-list {
        flex-direction: column;
        .products-list_product {
          margin-bottom: 30px;
        }
      }
    }
    .main_our_advantages {
      align-items: center;
      h2 {
        text-align: center;
      }
    }
  }
}

@media (max-width: 437px) {
  main {
    .main_about-products {
      min-height: 400px;

      .about-products_text-part {
        p {
          &:nth-child(2) {
            opacity: 0;
            visibility: hidden;
            display: none;
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  main {
    .main_present-block,
    .main_present-block.two-slide {
      .block_text-part {
        left: 12px;
        text-align: center;
        .text-part_navigate-to-menu {
          margin: 0 auto;
          left: 0;
        }
      }
      .block_switching-slides {
        left: 43%;
        top: 80%;
      }
    }
  }
}

@media (max-width: 333px) {
  main {
    .main_present-block,
    .main_present-block.two-slide {
      min-height: 200px !important;
      .block_text-part {
        top: 17%;
        width: 99%;
        left: 4px;
        h1 {
          font-size: calc(27px + 11 * (100vw / 1912));
        }
        .text-part_navigate-to-menu {
          height: 50px;
          p {
            font-size: calc(19px + 3 * (100vw / 1912));
          }
        }
      }
      .block_switching-slides {
        top: 85%;
      }
    }
  }
}
