@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", serif;
  overflow-x: hidden;
}

main {
  background-color: #f1ebdc;

  .main_present-block {
    background-color: #f1dbad;
    width: 100vw;
    height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .present-block_text-part {
      color: var(--default-color-one);
      position: relative;
      top: 0;
      left: 120px;
      width: 45%;
      h1 {
        font-size: calc(42px + 26 * (100vw / 1912));
        margin-bottom: 28px;
      }
      h2 {
        font-size: calc(28px + 12 * (100vw / 1912));
        line-height: 50px;
      }
    }

    .present-block_decorative-block {
      position: relative;
      .elipse-decoration-forMenu {
        position: relative;
        top: 120px;
        right: -200px;
        width: 100%;
        animation: rotateElipse 15s linear infinite;
      }
      .cat-for-menu-presentBlock {
        position: absolute;
        top: 26%;
        right: -90px;
        filter: drop-shadow(4px -10px 70px rgba(0, 0, 0, 0.2));
        width: 76%;
      }
    }
  }

  .main_product-list {
    padding: 120px;
    h2 {
      font-size: calc(40px + 22 * (100vw / 1912));
      font-weight: 500;
      text-align: center;
    }
  }
}

@keyframes rotateElipse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
